body{
    background-color: black;
    color: white;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.img{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
}
